# Additional bluetooth rules
type bd_prov_exec, exec_type, file_type;
domain_auto_trans(init, bd_prov_exec, bluetooth)
allow bluetooth mei_device:chr_file { ioctl open read write };
allow bluetooth tty_device:chr_file { read write ioctl open };
allow bluetooth unlabeled:dir search;
# sysfs file should be specified
allow bluetooth sysfs:file write;
allow bluetooth tmpfs:dir { write add_name };
allow bluetooth usb_device:dir { read open search };
allow bluetooth bt_dev:chr_file { read write open ioctl };
#allow bluetooth unlabeled:dir search;
allow bluetooth sysfs_rfkill:dir r_dir_perms;
allow bluetooth sysfs_rfkill:file rw_file_perms;
