# mmgr
type mmgr, domain, mlstrustedobject;
type mmgr_exec, exec_type, file_type;
init_daemon_domain(mmgr)
#below line breaks neverallow in domain.te on line 258
allow mmgr device:chr_file { read write ioctl open };
allow mmgr device:dir read;
allow mmgr init:unix_stream_socket connectto;
allow mmgr property_socket:sock_file write;
allow mmgr sysfs:file write;
allow mmgr sysfs_wake_lock:file { read write open };
allow mmgr system_prop:property_service set;
allow mmgr unlabeled:dir { write getattr read remove_name open add_name };
# below line breaks neverallow in domain.te on line 170
allow mmgr unlabeled:file { write getattr read create unlink open };
allow mmgr usb_device:chr_file { read write getattr open ioctl };
allow mmgr usb_device:dir { read open };
