# Additional rild rules
allow rild socket_device:sock_file write;
allow rild config:dir { search write add_name };
allow rild config:file create_file_perms;
unix_socket_connect(rild, mmgr, mmgr)
