# Additional untrusted_app rules
allow untrusted_app property_socket:file write;
allow untrusted_app unlabeled:dir rw_dir_perms;
# below line breaks neverallow in domain.te on line 169
allow untrusted_app unlabeled:file create_file_perms;

