#
# USB configuration common for all byt android devices
#
on init
    mkdir /dev/bus
    mkdir /dev/bus/usb
    mkdir /dev/bus/usb/001

    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

# enable USB USH wakeup on usb device connection/disconnection
    write /sys/bus/pci/devices/0000:00:14.0/power/wakeup enabled
    write /sys/bus/pci/devices/0000:00:14.0/usb1/power/wakeup enabled
    write /sys/bus/pci/devices/0000:00:14.0/usb2/power/wakeup enabled

# adb only USB configuration
# This should only be used for debugging
on property:sys.usb.config=iadb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x0a5d
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# this is charging only mode, no need to enable adbd
on property:sys.usb.config=charging
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x0a5d
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

# USB MTP configuration
on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x0a5e
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB MTP configuration, with adb
on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x0a5f
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB PTP configuration
on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x0a60
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB PTP configuration, with adb
on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x0a61
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB RNDIS configuration
on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x0a62
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# USB RNDIS configuration, with adb
on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x0a63
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# USB ACM configuration, with rndis and adb
on property:sys.usb.config=rndis,acm,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0x8087
    write /sys/class/android_usb/android0/idProduct 0x0a64
    write /sys/class/android_usb/android0/f_acm/instances 1
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
