on post-fs
    chmod 0666 /dev/iio:device0
    chmod 0666 /dev/iio:device1
    chmod 0666 /dev/iio:device2
    chmod 0666 /dev/iio:device3

on device-added-/dev/iio:device0
    # Sensor permissions
    chown system system /dev/iio:device0
    chmod 0666 /dev/iio:device0
    chown system system /sys/bus/iio/devices/iio:device0
    chown system system /sys/bus/iio/devices/trigger0
    chmod 0444 /sys/bus/iio/devices/iio:device0/in_accel_hysteresis
    chown system system	/sys/bus/iio/devices/iio:device0/in_accel_hysteresis
    chown system system	/sys/bus/iio/devices/iio:device0/in_accel_sampling_frequency
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_scale
    chown system system /sys/bus/iio/devices/iio:device0/buffer
    chown system system /sys/bus/iio/devices/iio:device0/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device0/buffer/length
    chown system system /sys/bus/iio/devices/iio:device0/trigger/current_trigger
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_en

on device-added-/dev/iio:device1
    chmod 0666 /dev/iio:device1
    chown system system /dev/iio:device1
    chown system system /sys/bus/iio/devices/iio:device1
    chown system system /sys/bus/iio/devices/trigger1
    chown system system /sys/bus/iio/devices/iio:device1/in_anglvel_sampling_frequency
    chown system system /sys/bus/iio/devices/iio:device1/in_anglvel_hysteresis
    chown system system /sys/bus/iio/devices/iio:device1/in_anglvel_offset
    chown system system /sys/bus/iio/devices/iio:device1/in_anglvel_scale
    chown system system /sys/bus/iio/devices/iio:device1/buffer
    chown system system /sys/bus/iio/devices/iio:device1/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device1/buffer/length
    chown system system /sys/bus/iio/devices/iio:device1/trigger/current_trigger
    chown system system /sys/bus/iio/devices/iio:device1/scan_elements/in_anglvel_x_en
    chown system system /sys/bus/iio/devices/iio:device1/scan_elements/in_anglvel_y_en
    chown system system /sys/bus/iio/devices/iio:device1/scan_elements/in_anglvel_z_en


on device-added-/dev/iio:device2
    chmod 0666 /dev/iio:device2
    chown system system /dev/iio:device2
    chown system system /sys/bus/iio/devices/iio:device2
    chown system system /sys/bus/iio/devices/trigger2
    chown system system /sys/bus/iio/devices/iio:device2/in_magn_sampling_frequency
    chown system system /sys/bus/iio/devices/iio:device2/in_magn_hysteresis
    chown system system /sys/bus/iio/devices/iio:device2/in_magn_offset
    chown system system /sys/bus/iio/devices/iio:device2/in_magn_scale
    chown system system /sys/bus/iio/devices/iio:device2/buffer
    chown system system /sys/bus/iio/devices/iio:device2/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device2/buffer/length
    chown system system /sys/bus/iio/devices/iio:device2/trigger/current_trigger
    chown system system /sys/bus/iio/devices/iio:device1/scan_elements/in_magn_x_en
    chown system system /sys/bus/iio/devices/iio:device1/scan_elements/in_magn_y_en
    chown system system /sys/bus/iio/devices/iio:device1/scan_elements/in_magn_z_en

on device-added-/dev/iio:device3
    chmod 0666 /dev/iio:device3
    chown system system /dev/iio:device3
    chown system system /sys/bus/iio/devices/iio:device3
    chown system system /sys/bus/iio/devices/trigger3
    chown system system /sys/bus/iio/devices/iio:device3/in_intensity_sampling_frequency
    chmod 0444  /sys/bus/iio/devices/iio:device3/in_intensity_hysteresis
    chown system system /sys/bus/iio/devices/iio:device3/in_intensisty_hysteresis
    chown system system /sys/bus/iio/devices/iio:device3/in_intensity_offset
    chown system system /sys/bus/iio/devices/iio:device3/in_intensity_scale
    chown system system /sys/bus/iio/devices/iio:device3/scan_elements/in_intensity_both_en
    chown system system /sys/bus/iio/devices/iio:device3/buffer
    chown system system /sys/bus/iio/devices/iio:device3/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device3/buffer/length
