# for eth0
service net_eth0-start /system/bin/sh /init.net.eth0.sh
    class core
    oneshot

service serialno /sbin/serialno /dev/block/sda ro.serialno
    user root
    oneshot

on init
    setprop_from_sysfs /sys/firmware/pidv/iafw_version sys.ia32.version
    setprop_from_sysfs /sys/firmware/pidv/secfw_version sys.chaabi.version
    setprop_from_sysfs /sys/firmware/pidv/pdr_version sys.pdr.version
